# Node.js
node_modules/

# Build output
dist/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml


# Windows specific files
Thumbs.db
